header {
    height: 608px;
    background-image:url("../image/OOTD_header.jpg");
}

article {
    padding-top: 15px;
    padding-left: 25px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin: 0px 0px 0px 6px;
    float: left;
}

.grid {
    display: grid;
    grid-template-columns: 100px 1fr;
}